<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New USER</title>
</head>
<body>
<h1 align="center">
    <table align="center" bgcolor="#00FA9A" border="5" height="50%" width="70%">
            <caption>Enter user data</caption>
        <form th:method="POST" th:action="@{/admin}" th:object="${user}">

            <tr>
                <td rowspan="1">ID</td>
                <td><input name="id" type="number" id="id" readonly="readonly" th:value="${user.getId()}"/></td>
            </tr>
            <tr>
                <td rowspan="1">Name</td>
                <td><input type="text" th:field="*{name}" id="name"></td>
            </tr>
            <tr>
                <td rowspan="1">Surname</td>
                <td><input type="text" th:field="*{surname}" id="surname"></td>
            </tr>
            <tr>
                <td rowspan="1">Email</td>
                <td><input type="text" th:field="*{email}" id="email"></td>
            </tr>
            <tr>
                <td rowspan="1">Username</td>
                <td><input type="text" th:field="*{username}" id="username"></td>
            </tr>
            <tr>
                <td rowspan="1">Password</td>
                <td><input type="text" th:field="*{password}" id="password"></td>
            </tr>
            <tr>
                <td rowspan="1">Roles</td>
                <td><select multiple name="roles" th:field="*{roles}" id="roles">
                    <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </form>
    </table>
    <form action="/logout">
        <button>LOGOUT</button>
    </form>
</h1>
</body>
</html>